<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/static/homepage-style.css">
<!--title to homepage-->
  <title>Home Page</title>

</head>
<body>

<nav>
  <!--Logo section-->
<div class="logo">
  <p>Progmedia</p>
</div>
<ul>
  <!--Ref to dir-->
    <li><a href="/api/ui">UI</a></li>
  </ul>

</nav>
<!--A picture to catch attention-->
<div class="content-items">
  <img src="/static/pictures/img.jpg" alt="">
</div>

</body>
</html>