<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/homepage-style.css">

  <title>Home Page</title>

</head>
<body>

<nav>
<div class="logo">
  <p>Progpedia</p>
</div>
<ul>
  <li><a href="/api/ui/business">business</a></li>
  <li><a href="/api/ui/customer">customer</a></li>
  <li><a href="/api/ui/user">user</a></li>
  <li><a href="/api/ui/user/new">add user</a></li>
  <li><a href="/api/ui/login">Login</a></li>
</ul>

</nav>

<div class="content-items">
  <img src="/static/pictures/img.jpg" alt="">
</div>

</body>
</html>